<% provide(:title, 'About Us') %>
<div class="contact">
	<h1>About Us</h1>
	<p style="font-size:1.3em; line-height:150%;">
		This website is created by ZHAO Liyao and Yung-Hsien Chu.<br>
		It is the final project for CS369:Web Programming @ Wisconsin-Madison, U.S.<br>
		For any inquires, send us an email:<br>
		zly0009@gmail.com<br>
		ychu8@wisc.edu<br>
	</p>
</div>
