<% provide(:title, 'Contact') %>
<div style="margin:auto;text-align:center;">
	<h1>Contact</h1>
	<p>
		Find Us in Class!<br>
		Also contact Us via Email: <br>
		<address>zly0009@gmail.com</address>
		<address>ychu8@wisc.edu</address>
	</p>
</div>