<%provide(:title, 'Help') %>
<div style="margin:auto;text-align:center;">
	<h1>Help</h1>
	<p>
		This page is still under construction.<br>
		But you could refer to our github link:<a href="https://github.com/Jacky-ZHAO/ScheduleShare/">Schdule share</a>
	</p>
</div>
