/*footer style*/
footer
{
	width: 100%;
	background-color: #aabbcc;
	height: 60px;
	position: fixed;
	bottom: 0;
	left: 0;
}

footer div
{
	float: left;
	margin-top: 20px;
}

footer ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li 
{
	display: block;
	float: right;
	width: 100px;
	border: 2px solid #aabbcc;
	text-align: center;
	margin-top: 20px;
}

footer ul li a 
{
	text-decoration: none;
}

/*header style*/
