/*footer style*/
footer
{
	width: 100%;
	background-color: #aabbcc;
	height: 60px;
	position: fixed;
	bottom: 0;
	left: 0;
}

footer div
{
	float: left;
	margin-top: 20px;
}

footer ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li 
{
	display: block;
	float: right;
	width: 100px;
	border: 2px solid #aabbcc;
	text-align: center;
	margin-top: 20px;
}

footer ul li a 
{
	text-decoration: none;
}

footer ul li a:link, a:visited
{
	color: white;
}

footer ul li a:hover, a:active
{
	color: black;
}

/*header style*/
header
{
	width: 100%;
	background-color: #aabbcc;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
}

header div
{
	float: left;
	margin-top: 20px;
}

header ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header ul li 
{
	display: block;
	float: right;
	width: 100px;
	border: 2px solid #aabbcc;
	text-align: center;
	margin-top: 20px;
}

header ul li a 
{
	text-decoration: none;
}

header ul li a:link, a:visited
{
	color: white;
}

header ul li a:hover, a:active
{
	color: black;
}

/*body style*/
html, body
{
	font-size: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

/*container style*/
.container
{
	width: 70%;
	margin: auto;
	margin-top: 60px;
	background-color: rgba(80,80,80,0.5);
	height: 100%;
}

/*home style*/
#home
{
	text-align: center;
}

#home h1
{
	font-size: 5em;
	line-height: 200%;
	vertical-align: middle;
}

.signButton
{
	background-color: #aa0000;
	border-radius: 40px;
	width: 30%;
	height: 4em;
	margin: auto;
}

.signButton a 
{
	text-decoration: none;
	font-size: 2em;
	line-height: 2em;
	vertical-align: middle;
	font-weight: bold;
}
.signButton a:link, a:visited
{
	color: white;
}
.signButton a:hover, a:active
{
	color: green;
}

