@import "bootstrap";

/*footer style*/
footer{
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgb(180,0,80);
	div{
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	font-style: italic;
	color: white;
	}
}

.footer{
	list-style-type: none;
	margin: 0;
	padding: 0;
	li{
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
		a {
			text-decoration: none;
			display: block;
			float: right;
			width: 100px;
			color: white;
			&:link{
				color:white;
			}
			&:visited{
				color:white;
			}
		}
	}
}

/*header style*/
header{
	width: 100%;
	background-color: rgb(200,0,100);
	height: 30px;
	position: fixed;
	top: 0;
	left: 0;
}

.header-div{
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	font-weight: bold;
	font-family: Broadway;
	font-size: 1.8em;
	a:link, a:visited{
		color: white;
		text-decoration: none;
	}
	a:hover, a:active{
		text-decoration: underline;
		background-color: transparent;
	}
}

/*drop down style*/
.header-ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		text-align: center;
		line-height: 30px;
		vertical-align: middle;
		a{
			text-decoration: none;
			color: white;
			font-weight: bold;
			display: block;
			float: right;
			width: 100px;
			transition: background-color 0.5s;
			&:visited{
				color:white;
			}
			&:hover{
				background-color: rgba(255,0,0,0.6);
				text-decoration: none;
			}
		}
		ul{
			list-style-type: none;
			display: none;
			position: absolute;
			right: 200px;
			top: 30px;
			a{
				background-color: rgb(200,0,100);
			}
		}

		&:hover{
			ul{
				display: block;
			}
		}
	}
}

/*body style*/
html, body
{
	font-size: 100%;
	padding: 0;
	margin: 0;
}

body
{
  	background-image:  url("http://d1r5i20o8cadcu.cloudfront.net/designs/images/655/original/main.jpg"),
  	url("http://www.pageresource.com/wallpapers/wallpaper/crumpled-white-paper-texture-melemel-jpeg_260159.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

/*container style*/
.container
{
	margin-top: 60px;	
	width: 100%;
	height: 100%;
}

/*home style*/
#home
{
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
	background-color: rgba(80,80,80,0.5);
	float: left;
	width: 40%;
	height: 500px;
}

#home h1
{
	font-size: 7em;
	line-height: 200%;
	vertical-align: middle;
	font-family: "Freestyle Script";
	color: #555555;
	letter-spacing: 120%;
	text-shadow: 10px 10px 10px #ffffaa;
}

.signButton
{
	background-color: rgba(255,0,0,0.6);
	border-radius: 40px;
	width: 60%;
	height: 4em;
	margin: auto;
	margin-top: 100px;
}

.signButton a 
{
	text-decoration: none;
	font-size: 2em;
	line-height: 2em;
	vertical-align: middle;
	font-weight: bold;
	&:link{
		color:white;
	}
	&:visited{
		color:white;
	}
	&:hover{
		color: white;
		text-shadow: 0 0 5px white;
		background-color: transparent;
	}
}

/*sign up style*/
#signup
{
	border: 5px outset grey;
	box-shadow: 10px 10px 5px white;
	padding: 20px;
	margin-top: 50px;
	position:fixed;
	top: 10px;
	background-color: rgba(255,255,255,0.8);
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #888;
}

#signup span 
{
	font-size: 2em;
}
.signupHeading
{
	font: 25px Georgia, "Times New Roman", Times, serif;
    color: #888;
}

.button {
    background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
    margin-top: 3px;
}
.button:hover {
    background: #CF7A7A
}

/*sign in style*/
.newUserLink a
{
	color: black;
	text-decoration: none;
	&:link{
		color:black;
	}
	&:visited{
		color: black;
	}
	&:hover{
		color: blue;
		font-style: italic;
	}
	&:active{
		color: blue;
		font-style: italic;
		background-color: transparent;
	}
}

/*profile style*/
#show 
{
	background-color: rgba(240,240,240,0.8);
	/*box-shadow: 0px 0px 10px white;*/
	/*border: 5px solid white;*/
	/*color: rgb(240,240,240);*/
	padding: 5px;
	position: fixed;
	left: auto;
	top: auto;
}

#eventView{
	background-color: rgba(200,0,100,0.4);
	color: rgba(240,240,240,0.9);
	height: 200px;
	position: fixed;
	top: 500px;
	width: 220px;
	left: 0;
	padding: 5px;
	font-size: 1em;
	font-family: Arial;
	#eventView1{
		font-weight: bold;
	}
}
.gravatar 
{
	font-family: "Times New Roman";
	/*font-weight: bold;*/
	color: black;
	margin-left: 5px;
	font-size: 1em;
}

.profileTable
{
	border: 0;
	border-collapse: collapse;
}
.profileTable td
{
	height: 30px;
	/*width: 200px;*/
	font-family: arial;
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	color: rgba(36,36,36,0.6);
}

/* Users index */

.users {
  list-style: none;
  background-color: rgba(240,240,240,0.8);
  width: 400px;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    &:hover{
    	background-color:rgba(200,200,255,0.6);
    	span{
    		display: inline-block;
    	}
    }
  }
  span{
  	display: none;
  	float: right;
  	margin-right: 10px;
  	margin-top: 15px;
  }
}

/*Schedule*/
.span12{
	h3{
		text-align: center;
		margin-right: 100px;
	}
	margin-top:-20px;
}
#schedule{
	table-layout: fixed;
	width: 1000px;
	margin-left: -50px;
	margin-bottom: 50px;
	font-size: 0.8em;
	thead{
		height: 20px;
	}
	tbody{
		td{
			height: 50px;
		}
			div{
				height:50px;
				width: 100%;
				overflow: hidden;
			}
	}
	td{
		width: 18%;
		border: 1px solid rgba(150,150,150,0.8);
		padding: 0;
		cursor: pointer;
		text-align: center;
		color:black;
		background-color:rgba(240,240,240,0.9);
		transition: background-color 0.5s;
		&:first-child{
			width: 5%;
			cursor: default;
		}
		/*white-space: nowrap;*/
		&:hover{
			background-color:rgb(190,190,190);
			color: rgba(36,36,36,0.8);
		}
	}
}

/*Event Feed*/
#feed{
	background-color: rgba(240,240,240,0.8);
	padding:0 10px 30px 10px;
	li{
		margin-top: 5px;
	}
}

.menu{
	display: none;
	z-index: 100;
	animation: expand 1s;
	-webkit-animation: expand 1s;
}

.menuIcon{
	display: none;
	color: skyblue;
	font-weight: bolder;
}

.list{
	&:hover{
		background-color:rgba(200,200,255,0.6);
		.menuIcon{
			display: inline-block;
		}
	}
}

.title{
	font-weight:bold;
	cursor: pointer;
	&:hover{
		background-color:transparent;
	}
}

@keyframes expand{
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes expand{
	from {opacity: 0;}
	to {opacity: 1;}
}

.editEvent{
	margin-top: 0;
}

#currentWeek{
	border-radius: 10px;
	float: right;
	font-family: Arial;
	font-size: 1em;
	color: rgba(240,240,240,0.8);
	font-weight: bold;
	margin-top: 25px;
	background-color: rgba(36,36,36,0.8);
	text-shadow:0 1px 0 white;
	position: fixed;
	top: auto;
	right: 20px;
	padding: 5px;
}

/*unimportant pages style*/
.contact{
	text-align:left;
	margin-left:30px;
	color:rgb(36,36,36);
	background-color:rgb(240,240,240);
	width:300px;
	height:600px;
	padding:10px;
}

/*map*/
#map{
	display: none;
	position: fixed;
	z-index: 100;
/*	animation: opacity 2s;
	-webkit-animation: opacity 2s;*/
/*	top: 40%;
	left: 30%;*/
}

/*@keyframes opacity{
	from{opacity: 0;}
	to{opacity: 1;}
}

@webkit-keyframes opacity{
	from{opacity: 0;}
	to{opacity: 1;}
}*/

#mapClose{
	display: none;
	height: 30px;
	width: 30px;
	position: fixed;
	z-index: 101;
	background-color: rgb(240,240,240);
	color: rgba(255,0,0,0.8);
	font-weight: bolder;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
	}
	
.f{
	position: fixed;
	top:160px;
	left:60px;
	z-index:100;
}