<footer>
	<div>
		by ZHAO Liyao and Yung-Hsien Chu
	</div>
	<ul class="footer">
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><a href="https://github.com/Jacky-ZHAO/ScheduleShare">Github</a></li>
	</ul>
</footer>
