<footer>
	<div>
		by ZHAO Liyao and Yung-Hsien Chu
	</div>
	<ul class="footer">
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><a href="http://news.railstutorial.org/">News</a></li>
	</ul>
</footer>
